/* 統計用のボーダー */
.box-statistic {
    background-image: linear-gradient(
            0deg,
            transparent 15%,
            var(--clr-border) 15%,
            var(--clr-border) 85%,
            transparent 85%
        ),
        linear-gradient(
            90deg,
            transparent 15%,
            var(--clr-border) 15%,
            var(--clr-border) 85%,
            transparent 85%
        ),
        linear-gradient(
            180deg,
            transparent 15%,
            var(--clr-border) 15%,
            var(--clr-border) 85%,
            transparent 85%
        ),
        linear-gradient(
            270deg,
            transparent 15%,
            var(--clr-border) 15%,
            var(--clr-border) 85%,
            transparent 85%
        );
}

/* 統計のはてなホバー */
.explain_hatena {
    position: relative; /* boxを基準にする */
    top: 0; /* 自由に調整 */
    left: 30px; /* 自由に調整 */
    color: #fff; /* 文字色を白にする */
    font-size: 14px;
    background: rgba(0, 0, 0, 0.5); /* 黒バックを半透明にするため、rgbaで指定 */
    padding: 2px 5px; /* 余白を少々 */
    opacity: 0;

    transition: all 0.3s;
}
.hatena_hover:hover + .explain_hatena {
    opacity: 1;
}

/* 統計関係 */
.statistic-content {
    margin: 2em auto;
    margin-bottom: 60px;
}
@media screen and (max-width: 640px) {
    .statistic-content {
        margin: 2em 1em;
    }
}

/* 統計の砂時計回転 */
.hourglass_animation {
    animation: 3s linear infinite hourglass;
}

@keyframes hourglass {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(360deg);
    }
}

/* チャート用 */
.chartWrapper {
    margin: 0 auto;
    /* overflow-x: scroll; */
    width: 600px;
    height: 600px;
}
.chartWrapper_small {
    padding: 1em;
    /* overflow-x: scroll; */
    width: 300px;
    height: 300px;
}

.chartWrapper_nlp_long {
    margin: 0 auto;
    /* overflow-x: scroll; */
    width: 600px;
}
.chartWrapper_nlp_1_2 {
    margin: 0 auto;
    /* overflow-x: scroll; */
    width: 900px;
    height: 300px;
}

@media screen and (max-width: 640px) {
    /* スマホの時 */
    .diary-main > div {
        width: 90%;
        padding: 1em;
    }
    .diary_dashboard {
        width: 300px;
    }
    .chartWrapper {
        width: 90vw;
        height: 90vw;
    }
    .chartWrapper_nlp_long {
        width: 90vw;
    }
    .chartWrapper_nlp_1_2 {
        width: 300px;
        height: 100px;
    }
}
