@font-face {
    font-display: swap;
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: local("Material Icons"), url("/fonts/MaterialIconsRound-Regular.otf");
}
@font-face {
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    font-family: "Kiwi Maru";
    src: url("/fonts/KiwiMaru-Medium.ttf") format("truetype");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: "liga";
}

/* tailwindで謎に当てられるフォントの修正 */
body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
        "Hiragino Sans", Meiryo, sans-serif;
}
.main-wrapper {
    max-width: min(90vw, 1600px);
    margin: 0 auto;
    min-height: 100vh;
}
@media screen and (max-width: 640px) {
    .main-wrapper {
        max-width: 100%;
    }
}
:root {
    /* カラー定義 */
    --bg-main-color: #2f3437;
    --text-main-color: #f9fff9;
    --logo-main-color: #624464;
    --button-main-color: #4b8996;
    --border-main-color: #8a8772;
    /* カラー定義その2 */
    --status-poor: #e2534a;
    --status-good: #339c76;
    --status-excellent: #33769c;
    /* ヘッダー高さ */
    --header-height: 73px;
    /* メディアクエリ */
    --media-sm: 640px;
    --media-md: 768px;
    --media-lg: 1024px;
    --media-xl: 1280px;
}

.bg-main-color {
    background-color: var(--bg-main-color);
}
.border-bg-main-color {
    background-color: var(--border-main-color);
}
.border-border-main-color {
    border-color: var(--border-main-color);
}
.border-button-main-color {
    border-color: var(--button-main-color);
}
.button-bg-main-color {
    background-color: var(--button-main-color);
}
.button-border-main-color {
    border-color: var(--button-main-color);
}
.text-main-color {
    color: var(--text-main-color);
}
.border-main-color {
    color: var(--border-main-color);
}

.bg-status-poor {
    background-color: var(--status-poor) !important;
}
.text-status-poor {
    color: var(--status-poor);
}
.bg-status-good {
    background-color: var(--status-good) !important;
}
.text-status-good {
    color: var(--status-good);
}
.bg-status-excellent {
    background-color: var(--status-excellent) !important;
}
.text-status-excellent {
    color: var(--status-excellent);
}
.bg-logo-main-color {
    background-color: var(--logo-main-color) !important;
}
.copyright {
    color: var(--logo-main-color);
}
.footer-menu {
    color: var(--border-main-color);
}

.text-button-main-color {
    color: var(--button-main-color);
}

body {
    background-color: var(--bg-main-color);
    overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
ol {
    color: var(--text-main-color);
}

.kiwi-maru {
    font-family: "Kiwi Maru", serif;
}
input[type="file"] {
    position: relative;
    margin: 8px 0 0 -14px;
}
input[type="file"]:focus {
    outline: none;
}
input[type="file"]::before {
    content: "添付ファイル：";
    position: absolute;
    background: var(--bg-main-color);
    width: 130px;
    height: 32px;
    line-height: 1.8;
    text-align: right;
}
.file-input-wrapper {
    font-size: 16px;
    border: 1px solid var(--button-main-color);
    border-radius: 4px;
    padding: 0.5em;
    margin: 0.5em auto;
}
textarea {
    resize: none;
    width: 300px;
    height: 200px;
    background-color: var(--bg-main-color) !important;
    border-color: var(--button-main-color) !important;
    color: var(--text-main-color);
}
textarea::placeholder {
    color: var(--border-main-color);
    font-family: "Kiwi Maru", serif;
}
input[type="submit"] {
    background-color: var(--button-main-color);
    color: var(--text-main-color);
    cursor: pointer;
    border-radius: 0 0 4px 4px;
    padding: 0.25em 0.5em;
}
input[type="text"] {
    background-color: var(--bg-main-color);
    border: 1px solid var(--button-main-color);
    color: var(--text-main-color);
}
input[type="text"]::placeholder {
    font-family: "Kiwi Maru", serif;
    color: var(--border-main-color);
}
input[type="date"] {
    color: var(--text-main-color);
    background-color: var(--bg-main-color);
    border-color: var(--button-main-color);
}
.submit-button {
    background-color: var(--button-main-color);
    color: var(--text-main-color);
    cursor: pointer;
    border-radius: 4px 4px 0 0;
    padding: 0.25em 0.5em;
}
select {
    color: var(--text-main-color);
    background-color: var(--bg-main-color);
    border-color: var(--button-main-color);
}

header {
    border-bottom: 1px solid var(--border-main-color);
}
footer {
    border-top: 1px solid var(--border-main-color);
}
p a {
    transition: 1s;
}
p a:hover {
    color: var(--button-main-color);
}
.list-decimal li {
    margin-left: 1em;
}
li ol {
    margin-left: 1em;
}
.logo-header {
    object-fit: contain;
    width: auto;
    height: 64px;
    filter: drop-shadow(5px 5px 5px black);
}
.kadode-normal-button {
    background-color: var(--button-main-color);
    color: var(--text-main-color);
    padding: 0.7em 0.6em;
    border-radius: 6px;
}
#top-animation {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    /* background: #04bbd3; */
}
.kaihatusya {
    position: relative;
    transition: 1s;
}
.kaihatusya:hover:after {
    position: relative;
    top: -30px;
    left: 40px;
    content: "こんばんは。";
    font-size: 20px;
    color: var(--text-main-color);
}
/* 動く検索フォーム用ここから */
/*
    https://codepen.io/charlyn/pen/MwRBBo

    Copyright (c) August 14, 2015 Charlyn G
    Released under the MIT license
    http://opensource.org/licenses/mit-license.php
*/
.move-label-wrapper div {
    position: relative;
}

.error-page {
    min-height: 100vh;
}
.move-label {
    position: absolute;
    top: 0;
    font-size: 20px;
    margin: 10px;
    padding: 0 10px;
    background-color: var(--bg-main-color);
    -webkit-transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
    transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
}
.active {
    top: -25px;
    font-size: 16px;
}

.search-keyword {
    background-color: var(--bg-main-color);
    border-radius: 3px 0 0 3px; /*ボックス角の丸み*/
    color: var(--text-main-color);
    border: 1px solid var(--button-main-color); /*枠線*/
}
.search-keyword::placeholder {
    font-family: "Kiwi Maru", serif;
    color: var(--bg-main-color);
}
.active-input::placeholder {
    font-family: "Kiwi Maru", serif;
    color: var(--border-main-color);
}
.search-keyword:focus {
    border: 2px solid var(--button-main-color); /*枠線*/
    outline: none;
}
/* 動く検索フォーム用ここまで*/

.diary_dashboard {
    border: 1px solid var(--button-main-color);
    padding: 1em;
    width: 400px;
    height: 450px;
    flex-shrink: 0;
    overflow: hidden;
}
.diary-main {
    max-width: 1120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3em auto;
}
.diary-main > div {
    width: 50%;
    border: 2px solid var(--button-main-color);
    height: 600px;
    padding: 1.5em;
}

.diary-main article {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.diary-content-edit {
    height: 400px;
    overflow: scroll;
}

/*
スクロールバー
ここから
*/
/*スクロールバー全体*/
::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}
p::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
    border-radius: 10px;
    /* background-color: var(--border-main-color); */
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); */
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
    background-color: rgba(75, 137, 150, 0.5);
    border-radius: 10px;
    /* box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3); */
}

.container {
    width: 100%;
    height: 400px;
    overflow: auto;
}

.inner {
    background-image: url("http://lorempixel.com/800/800/");
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}

/*
ここまで
スクロールバー
*/

.setting {
    /* border: 1px solid var(--button-main-color); */
    border-radius: 12px;
    margin: 1em;
    padding: 1em;
}
.settingContentWrapper {
    padding: 1em;
}

.settingContent {
    color: white;

    padding: 1em;
    /* overflow: hidden; */
}

.archive-month-menu {
    max-width: 1200px;
    cursor: pointer;
    /* -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-text-combine: horizontal;
    -ms-text-combine-horizontal: all;
    text-combine-upright: all; */
}
.archive-year-menu {
    max-width: 1200px;
    cursor: pointer;
}

/* チャート用 */
.chartWrapper {
    margin: 0 auto;
    /* overflow-x: scroll; */
    width: 600px;
    height: 600px;
}
.chartWrapper_small {
    margin: 0 auto;
    padding: 2em;
    /* overflow-x: scroll; */
    width: 300px;
    height: 300px;
}

.chartWrapper_nlp_long {
    margin: 0 auto;
    /* overflow-x: scroll; */
    width: 600px;
    height: 1800px;
}
.chartWrapper_nlp_1_2 {
    margin: 0 auto;
    /* overflow-x: scroll; */
    width: 900px;
    height: 300px;
}

@media screen and (max-width: 640px) {
    /* スマホの時 */
    .diary-main > div {
        width: 90%;
        padding: 1em;
    }
    .diary_dashboard {
        width: 300px;
    }
    .chartWrapper {
        width: 90vw;
        height: 90vw;
    }
    .chartWrapper_nlp_long {
        width: 90vw;
    }
    .chartWrapper_nlp_1_2 {
        width: 300px;
        height: 100px;
    }
}

/* 統計用のボーダー */
.box-statistic {
    background-image: linear-gradient(
            0deg,
            transparent 15%,
            var(--clr-border) 15%,
            var(--clr-border) 85%,
            transparent 85%
        ),
        linear-gradient(
            90deg,
            transparent 15%,
            var(--clr-border) 15%,
            var(--clr-border) 85%,
            transparent 85%
        ),
        linear-gradient(
            180deg,
            transparent 15%,
            var(--clr-border) 15%,
            var(--clr-border) 85%,
            transparent 85%
        ),
        linear-gradient(
            270deg,
            transparent 15%,
            var(--clr-border) 15%,
            var(--clr-border) 85%,
            transparent 85%
        );
}

/* ログインの背景 */

/* 統計関係 */
.statistic-content {
    margin: 2em auto;
    margin-bottom: 60px;
}
@media screen and (max-width: 640px) {
    .statistic-content {
        margin: 2em 1em;
    }
}

/* 統計の砂時計回転 */
.hourglass_animation {
    animation: 3s linear infinite hourglass;
}

@keyframes hourglass {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(360deg);
    }
}

/* 個別日記の統計箇所 */

/* 統計のはてなホバー */
.explain_hatena {
    position: relative; /* boxを基準にする */
    top: 0; /* 自由に調整 */
    left: 30px; /* 自由に調整 */
    color: #fff; /* 文字色を白にする */
    font-size: 14px;
    background: rgba(0, 0, 0, 0.5); /* 黒バックを半透明にするため、rgbaで指定 */
    padding: 2px 5px; /* 余白を少々 */
    opacity: 0;

    transition: all 0.3s;
}
.hatena_hover:hover + .explain_hatena {
    opacity: 1;
}

/* 自然言語処理パイプ図 */
.statisticOverallViewWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.statisticOverallViewWrapper > div {
    margin-top: 12px;
}
.statisticOverallViewHierarchy-asc {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.statisticOverallViewHierarchy-desc {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.statisticOverallViewHierarchy-only-bottom {
    width: 100%;
    height: 65px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
}
.statisticOverallViewHierarchy-desc {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.statisticOverallViewHierarchy-desc .sov-arrow {
    /* 全部右矢印使用、反対にする */
    transform: rotate(180deg);
}
.statisticOverallViewHierarchy-desc .sov-pipe p {
    /* 全部右矢印使用、反対にする */
    clip-path: polygon(100% 0%, 89% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
.sov-arrow-always-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--status-good);
    transform: rotate(90deg);
}
.sov-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--status-good);
}
.sov-arrow-raw {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--status-good);
}

.sov-pipe {
    padding: 4px 12px;
    margin: 4px;
    border-radius: 12px;
    border: 2px solid var(--status-good);
    display: flex;
    align-items: center;
}
.sov-pipe-wrapper section {
    text-align: center;
    font-size: 0.75em;
    color: var(--text-main-color);
}
.sov-pipe-wrapper nav {
    position: absolute;
    z-index: 2;
    text-align: center;
    font-size: 0.75em;
    width: 300px;
    height: 250px;
    color: var(--text-main-color);
    background-color: var(--border-main-color);
    clip-path: polygon(
        67% 12%,
        100% 14%,
        100% 66%,
        0 66%,
        0 14%,
        49% 12%,
        55% 3%
    );
    display: flex;
    align-items: center;
    justify-content: center;
}
.sov-pipe p {
    width: 130px;
    height: 80px;
    clip-path: polygon(75% 0%, 93% 50%, 75% 100%, 0% 100%, 14% 50%, 0% 0%);
    background-color: var(--border-main-color);
    margin: 4px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-right: 1em; */
}

.sov-square {
    border-radius: 4px;
    padding: 4px 1em;
    margin: 4px;
    height: 2em;
    border: 1px solid var(--border-main-color);
}
.sov-square p {
    text-align: center;
}

@media screen and (max-width: 640px) {
    /* スマホの時 */
    .sov-arrow {
        /* 矢印を下向きにする */
        transform: rotate(90deg) !important;
        width: 100%;
    }
    .sov-pipe {
        flex-direction: column;
        align-items: center;
    }

    .sov-pipe p {
        float: initial;
        width: 100px;
        height: 100px;
        clip-path: polygon(100% 0, 100% 79%, 53% 100%, 0 79%, 0 0, 52% 14%);
    }
    .statisticOverallViewHierarchy-desc .sov-pipe p {
        float: initial;
        width: 100px;
        height: 100px;
        clip-path: polygon(100% 0, 100% 79%, 53% 100%, 0 79%, 0 0, 52% 14%);
    }
    .statisticOverallViewHierarchy-only-bottom {
        /* 追加style無効化 */
        justify-content: center !important;
        margin: 0 !important;
    }
    .hidden {
        display: none !important;
    }
}

.nlp-normal-table {
    color: var(--text-main-color);
    border: 2px solid var(--button-main-color);
    text-align: center;
}
.nlp-normal-table th,
td {
    padding: 0.5em;
    border: 1px solid var(--button-main-color);
}

.nlp-normal-table th {
    color: var(--bg-main-color);
    background-color: var(--button-main-color);
}

.nlp-normal-package {
    width: 250px;
    height: 300px;
    color: var(--text-main-color);
    border: 1px solid var(--button-main-color);
    border-radius: 3px;
    margin: 4px 12px;
    padding: 1em 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.user-package-select-button {
    position: relative;
    top: 40px;
    right: -5px;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
}
