:root {
    /* カラー定義 */
    --kn_b: #2f3437;
    --kn_w: #f9fff9;
    /* 1 */
    --kn_1: #624464;
    /* 2 */
    --kn_2: #4b8996;
    /* 3 */
    --kn_3: #8a8772;
    /* カラー定義その2 */
    --kn_poor: #e2534a;
    --kn_good: #339c76;
    --kn_excellent: #33769c;
    --kn_bubble: #f9fff9;
    /* ヘッダー高さ */
    --header-height: 73px;
    /* メディアクエリ */
    --media-sm: 640px;
    --media-md: 768px;
    --media-lg: 1024px;
    --media-xl: 1280px;
}
/* @todo ここでのカラー定義はtailwind.config.jsにて指定すること */
