/* 原則スタイルは使用する箇所のコンポーネントに書く */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* ダークモードをdark:みたいにせず自動で色変えるようにするための設定 */
	:root {
		--kn-default-text-color: var(--kn-black);
		--kn-default-background-color: var(--kn-white);
		--kn-purple: var(--kn-l-purple);
		--kn-blue: var(--kn-l-blue);
		--kn-brown: var(--kn-l-brown);
	}
	:root[class='dark'] {
		--kn-default-text-color: var(--kn-white);
		--kn-default-background-color: var(--kn-black);
		--kn-purple: var(--kn-d-purple);
		--kn-blue: var(--kn-d-blue);
		--kn-brown: var(--kn-d-brown);
	}
}

:root {
	--kn-black: #2f3437;
	--kn-white: #f9fff9;
	--kn-d-purple: #624464;
	--kn-d-blue: #4b8996;
	--kn-d-brown: #8a8772;
	--kn-l-purple: #ac78b0;
	--kn-l-blue: #71d0e3;
	--kn-l-brown: #d6d2b2;
	--kn-s-1: #33769c;
	--kn-s-2: #339c76;
	--kn-s-3: #e2534a;
	--kn-a-yellow: #d7bd57;
	--kn-a-light-blue: #d8e4ee;
	--kn-a-green: #7e9e7f;
	--heder-height: 80px;
	--pseudo-footer-height: 100px;
	--footer-menu-height: 60px;
	--main-padding-top: 20px;
	--main-max-width: 1300px;
	--sidemenu-width: 270px;
	--font-kiwi-maru: 'Kiwi Maru';
}

@media screen and (max-width: 640px) {
	:root {
		--heder-height: 60px;
		--pseudo-footer-height: 120px;
		--main-padding-top: 20px;
		--main-max-width: 1300px;
	}
}

@font-face {
	font-display: swap;
	font-weight: 400;
	font-style: normal;
	font-family: 'Kiwi Maru';
	src: url('/fonts/KiwiMaru-Regular.ttf') format('truetype');
}
body {
	scroll-behavior: smooth;
	max-width: 100vw;
	max-height: 100vh;
	overflow: clip;
	color: var(--kn-default-text-color);
	background-color: var(--kn-default-background-color);
}
/* できればコンポーネントにstyle書きたいが複数あるのでapp.cssに書く */
main {
	min-height: calc(100vh - var(--heder-height) - var(--pseudo-footer-height));
}

/* mainとfooterをあわせて100vhにして、超えたやつをスクロールさせたい */
.main-with-header {
	height: calc(100vh - var(--heder-height));
	overflow-y: auto;
	margin: 0 auto;
	padding-top: var(--main-padding-top);
}

.main-max-width {
	max-width: var(--main-max-width);
}

.main-wrapper {
	width: 100%;
	height: 100vh;
}

.center {
	max-inline-size: max-content;
	margin-inline: auto;
}

/* 文章系は画面サイズマックスにしたくないので調整 */
.document-center {
	max-width: var(--main-max-width);
	margin: 0 auto;
	padding: 1em 1em;
}
/*
スクロールバー
ここから
*/
/*スクロールバー全体*/
::-webkit-scrollbar {
	width: 8px;
	height: 12px;
}
p::-webkit-scrollbar {
	width: 8px;
	height: 6px;
}
/* contentのtextareaの右下白四角問題解消のためにoverflow-xをhiddenにする */
textarea[name='content'] {
	overflow-x: hidden;
	overflow-y: scroll;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
	border-radius: 10px;
	/* スクロールバーより少し濃い色 */
	background-color: #1e2f33;
	/* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); */
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
	background-color: rgba(75, 137, 150, 0.5);
	border-radius: 10px;
	/* box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3); */
}

.container {
	width: 100%;
	height: 400px;
	overflow: auto;
}

.inner {
	background-repeat: no-repeat;
	width: 100%;
	height: 800px;
}

/*
ここまで
スクロールバー
*/
